@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700;900&display=swap');

#Contents.cmnContents {
	position: relative;
	width: 100%;
	min-width: 960px;
	padding-bottom: 0;
	font-feature-settings : "palt";
	letter-spacing: 0.05em;
}
.cmnContents .cmnBread {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	font-feature-settings : normal;
}
.cmnContents .cmnBread a,
.cmnContents .cmnBread dd,
.cmnContents .cmnBread dd h1 {
	color: #fff;
}
.cmnContents .cmnBread dd span {
	color: #fff!important;
}
.breadcrumb01 li {
	text-align: left;
}
img {
	max-width: 100%;
	display: inline-block;
}
.mover {
	transition: opacity 0.2s ease-out;
}
.mover:hover {
	opacity: 0.7;
}
.tel a, .mail a {
	cursor: default;
	pointer-events: none;
}
.flex_box{
	display: flex;
}
@media screen and (max-width:768px) {
	/* .anchor {
		margin-top: -54px;
		padding-top: 54px;
	} */
	.tel a, .mail a {
		pointer-events: auto;
	}
}
/*----------------------
 contentTop
----------------------*/
.contentTop {
	margin: 0;
	min-height: 503px;
}
.contentTop #mainImage {
	margin: auto;
	position: relative;
	min-height: 503px;
}
.cf:after {
	content: "";
	clear: both;
	display: block;
}
#mainImage .page_title_area{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 174px;
    margin: auto;
}
#mainImage .page_title_area .bk{
	background: #dd031b;
    display: inline-block;
    padding: 26px 36px 26px 46px;
}
#mainImage .page_title_area h2{
	color: #fff;
	font-size: 26px;
	letter-spacing: 0.1em;
	font-weight: 700;
	line-height: 1.57;
}
#mainImage .img{
	background-image: url(./main.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 503px;
}
#mainImage video{
	max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 503px;
}
@media screen and (max-width:768px) {
	.contentTop {
		min-height: 365px;
	}
	.contentTop #mainImage {
		min-height: 365px;
	}
	#mainImage .page_title_area{
		height: 130px;
	}
	#mainImage .page_title_area .bk{
		padding: 18px 26px 19px 29px;
	}
	#mainImage .page_title_area h2{
		font-size: 16px;
	}
	#mainImage .img{
		background-image: url(./main_sp.jpg);
		min-height: 365px;
	}
	#mainImage video{
		min-height: 365px;
	}
}
/*----------------------
 contentBox
----------------------*/
.contentBox {
	position: relative;
	z-index: 1;
}

.contentBoxInner {
	width: 960px;
	margin: 0 auto;
}

@media screen and (max-width:768px) {
	#Contents.cmnContents {
		font-feature-settings : normal;
		letter-spacing: 0;
	}
	#Contents.cmnContents {
		min-width: 100%;
	}
	.contentBoxInner {
		width: 93.46%;
	}
	.contentTop #mainImage h2 img {
		width: 100%;
	}
}
/*----------------------
miso
----------------------*/
#miso .bk{
	background-image: url(/factorytour/img/miso_bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
	/* padding-top: 20px; */
}
.miso_text{
	text-align: center;
    padding: 105px 0 95px;
}
#miso p{
	color: #dd031b;
	font-size: 40px;
	letter-spacing: 0.05em;
	line-height: 1.35;
	font-weight: 900;
	position: relative;
	padding-right: 403px;
	display: inline-block;
}
#miso p:after{
    content: '';
    position: absolute;
    right: -20px;
    bottom: -12px;
    top: 0;
    margin: auto;
    max-width: 437px;
    width: 100%;
    min-height: 290px;
    height: 100%;
	background-image: url(/factorytour/img/miso01.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#miso .flex_box{
	align-items: center;
	justify-content: center;
}
#miso .img{
	max-width: 437px;
}
@media screen and (max-width:768px) {
	#miso .bk{
		background-image: url(/factorytour/img/miso_bk_sp.jpg);
	}
	.miso_text{
		padding: 37px 0 18px;
	}
	#miso p{
		padding-right: 0;
		font-size: 25px;
		font-feature-settings: "palt";
	}
	#miso p:after{
		display: none;
	}
	#miso .img{
		width: 90%;
		margin: auto;
	}
}
/*----------------------
point_area
----------------------*/
#point_area .text_area{
	position: relative;
	width: 50%;
	background-image: url(/factorytour/img/point01_bk.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
}
#point_area .point02 .text_area{
	background-image: url(/factorytour/img/point02_bk.jpg);
}
#point_area .point03 .text_area{
	background-image: url(/factorytour/img/point03_bk.jpg);
}
#point_area .point04 .text_area{
	background-image: url(/factorytour/img/point04_bk.jpg);
}
#point_area .point05 .text_area{
	background-image: none;
}

#point_area .text_area::after{
	content: '';
	position: absolute;
    right: -28px;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 100%;
	max-width: 29px;
	height: 100%;
	max-height: 52px;
	background-image: url(/factorytour/img/point01_arrow.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}
#point_area .point03 .text_area::after{
	background-image: url(/factorytour/img/point03_arrow.png);
}
#point_area .point02 .text_area::after,
#point_area .point04 .text_area::after,
#point_area .point05 .text_area::after{
	display: none;
}
#point_area .point02 .text_area::before,
#point_area .point04 .text_area::before{
	content: '';
	position: absolute;
	left: -28px;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 100%;
	max-width: 29px;
	height: 100%;
	max-height: 52px;
	background-image: url(/factorytour/img/point02_arrow.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#point_area .point04 .text_area::before{
	background-image: url(/factorytour/img/point04_arrow.png);
}
#point_area .text_area .text{
	max-width: 460px;
    margin-right: 40px;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    padding-top: 28px;
}
#point_area .point02 .text_area .text,
#point_area .point04 .text_area .text{
    margin-right: auto;
    margin-left: 42px;
    align-items: center;
    padding: 25px 0 52px;
    max-width: 433px;
}
#point_area .point03 .text_area .text{
	margin-right: 36px;
    padding-top: 75px;
    max-width: 433px;
}
#point_area .point04 .text_area .text{
    max-width: 512px;
    padding: 35px 0px 0px;
}
#point_area .point05 .text_area .text{
	position: relative;
    padding: 95px 0 85px;
    max-width: 349px;
    margin-left: 0;
}
#point_area .point05 .text_area .text:after{
	content: '';
	position: absolute;
	right: -35px;
	bottom: 0;
	margin: auto;
	width: 100%;
	max-width: 138px;
	height: 100%;
	max-height: 166px;
	background-image: url(/factorytour/img/point05_after.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#point_area .img{
	width: 50%;
	position: relative;
}
#point_area .img video{
	max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#point_area .point05 .bk{
	position: relative;
}
#point_area .point05 .img{
	position: relative;
}
#point_area .point05 video{
	max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
@media screen and (max-width:768px) {

	#point_area .flex_box{
		flex-wrap: wrap;
	}
	#point_area .flex_box{
		flex-direction: column-reverse;
	}
	#point_area .point02 .flex_box,
	#point_area .point04 .flex_box{
		flex-direction: column;
	}
	#point_area .text_area{
		width: 100%;
		padding: 0 3.5%;
		box-sizing: border-box;
	}
	#point_area .img{
		width: 100%;
		min-height: 250px;
	}
	#point_area .point01 .flex_box{

	}
	#point_area .point05 .text_area{
		padding: 0;
	}
	#point_area .point05 video{
		position: relative;
		min-height: 280px;
	}
	#point_area .point05 .text_area .text{
		padding: 20px 0 0 0;
		width: 100%;
		margin: 0;
		max-width: 100%;
	}
	#point_area .text_area::after,
	#point_area .point02 .text_area::before,
	#point_area .point04 .text_area::before{
		display: none;
	}
	#point_area .point05 .text_area .text:after{
		display: none;
	}
	#point_area .point05 .bk{
		background-image: url(/factorytour/img/point05_bk.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	#point_area .text_area .text{
		width: 88%;
		padding-top: 41px;
		max-width: 100%;
		margin: 0;
	}
	#point_area .point02 .text_area .text{
		width: 100%;
		margin: 0;
		padding: 14px 0 29px;
		max-width: 100%;
	}
	#point_area .point03 .text_area .text{
		width: 99%;
		padding-top: 38px;
		margin: 0;
		max-width: 100%;
	}
	#point_area .point04 .text_area .text{
		width: 98%;
		padding: 34px 0px 0px;
		margin: 0;
		max-width: 100%;
	}
}
/*----------------------
calendar_area
----------------------*/
#calendar_area {
	margin-bottom: 60px;
}
.calendar{
	position: relative;
    padding-bottom: 600px;
    height: 0;
    overflow: hidden;
	text-align: center;
}
.calendar iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (max-width:768px) {
.calendar{
		padding-bottom: 1160px;
	} 
}
/*----------------------
sec_title
----------------------*/
.title_area{
	text-align: center;
}
.sec_title{
	font-size: 40px;
	letter-spacing: 0.05em;
	font-weight: 900;
	position: relative;
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: 50px;
	font-feature-settings : "palt";
}
#detail .sec_title,
#reservation_detail .sec_title,
#access .sec_title{
	background-color: transparent;
	font-size: 40px;
	letter-spacing: 0.05em;
	font-weight: 900;
	padding: 0;
	color: #111;
	padding-bottom: 15px;
	border-radius: 0;
	margin-bottom: 50px;

}
#access .sec_title{
	margin-bottom: 20px;
}

.sec_title::before{
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	/* max-width: 329px; */
	margin: auto;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #e29543;
}
#access .sec_title::before,
#calendar_area .sec_title::before{
	max-width: 199px;
}
.sec_title::after{
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	bottom: -7px;
	margin: auto;
	width: 0;
	height: 0;
	border-top: 7px solid #e29543;
	border-right: 6px solid transparent;
	margin: auto;
	border-left: 6px solid transparent;
}
@media screen and (max-width:768px) {
	.sec_title,
	#detail .sec_title,
	#reservation_detail .sec_title,
	#access .sec_title	{
		font-size: 25px;
		padding-bottom: 14px;
		margin-bottom: 23px;
	}
	.sec_title::before{
		border-bottom: 1px solid #e29543;
	}
	.sec_title::after{
		border-top: 5px solid #e29543;
		border-right: 3px solid transparent;
		border-left: 3px solid transparent;
		bottom: -5px;
	}
}
/*----------------------
guide
----------------------*/
#guide {
	padding: 70px 0 0;
	color: #111;
	margin-bottom: 68px;
}
#guide #detail_table{
	border-radius: 10px;
	border: 5px solid #eeede8;
	border-left: none;
	background: #eeede8;
	margin-bottom: 50px;
}
#guide #detail_table > dl{
	display: flex;
}
#guide #detail_table > dl:last-of-type > dt,
#guide #detail_table > dl:last-of-type > dd{
	border: none;
}
#guide #detail_table > dl:last-of-type > dd{

}
#guide #detail_table > dl > dt{
	border-bottom: 1px solid #fff;
	max-width: 227px;
	width: 100%;
	padding: 31px 27px;
	box-sizing: border-box;
}
#guide #detail_table > dl > dt p{
	font-weight: 700;
	font-size: 19px;
}
#guide #detail_table > dl > dd{
	background: #fff;
	width: calc(100% - 227px);
	border-bottom: 1px solid #eeede8;
	padding: 28px 32px;
	box-sizing: border-box;
}
#guide #detail_table dd p,
#guide #detail_table > dl > dd dd p{
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6875;
}
#guide #detail_table dd .red{
	color: #e60019;
	margin-bottom: 10px;
}
#guide #detail_table dd .font_bold{
	font-weight: 700;
}
#guide #detail_table > dl > dd .note{
	font-size: 14px;
	line-height: 1.92;
}
#guide #detail_table > dl > dd dt p{
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	width: 100%;
	display: inline-block;
}
#guide #detail_table > dl > dd dl:first-of-type{
	margin-bottom: 15px;
}
#notice{
	color: #111;
}
#notice dt{
	border-bottom: 1px solid #eeede8;
	padding-bottom: 15px;
	margin-bottom: 12px;
}
#notice dt p{
	font-size: 19px;
	font-weight: 700;
	color: #111;
	padding-left: 28px;
	position: relative;
}
#notice dt p::before{
	content: '';
	position: absolute;
	left: 5px;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #73c827;
}
#notice ul{
	padding-left: 5px;
}
#notice li{
	font-size: 16px;
	font-weight: 400;
	line-height: 2.18;
	text-indent: -1em;
    padding-left: 1em;
}
@media screen and (max-width:768px) {
	#guide{
		padding-top: 45px;
		margin-bottom: 105px;
	}
	#guide #detail_table{
		border: 2px solid #eeede8;
		border-radius: 5px;
		margin-bottom: 25px;
	}
	#guide #detail_table > dl{
		flex-direction: column;
	}
	#guide #detail_table > dl > dt,
	#guide #detail_table > dl > dd{
		max-width: 100%;
		width: 100%;
		border-bottom: none;
	}
	#guide #detail_table > dl > dt{
		padding: 14px 10px 14px;
	}
	#guide #detail_table > dl > dt p{
		font-size: 12px;
	}
	#guide #detail_table > dl > dd{
		padding: 15px 15px 20px;
		margin-inline-start: 0px;
	}
	#guide #detail_table dd p,
	#guide #detail_table > dl > dd dd p{
		font-size: 12px;
		line-height: 1.5;
	}
	#guide #detail_table > dl > dd .note{
		font-size: 12px;
		line-height: 1.61;
		margin-top: 10px;
	}
	#guide #detail_table > dl > dd dt p{
		font-size: 12px;
	}
	#guide #detail_table dd .red{
		margin-bottom: 8px
	}
	#notice dt{
		padding-bottom: 6px;
		margin-bottom: 10px;
	}
	#notice dt p{
		font-size: 12px;
		padding-left: 8px;
	}
	#notice ul{
		padding-left: 0;
	}
	#notice li{
		font-size: 12px;
		line-height: 2;
	}
	#notice dt p::before{
		width: 5px;
		height: 5px;
		left: 0px;
	}
}
/*----------------------
 reservation_detail
----------------------*/
#reservation_detail_wrap{
	background: #fffee9;
}
#reservation_detail {
	margin-bottom: 80px;
	padding: 60px 0 65px;
	color: #111;
}
#reservation_detail > dl {
	background: #86c2e6;
	border-radius: 10px;
	border: 7px solid #86c2e6;
	max-width: 460px;
	margin: auto;
	box-sizing: border-box;
}
#reservation_detail > dl > dt p {
	font-size: 26px;
	font-weight: 900;
	color: #fff;
	line-height: 1.57;
	/* margin-bottom: 10px; */
	padding: 11px 0;
	text-align: center;
}
#reservation_detail > dl > dd {
	background: #fff;
	/* border-radius: 0 0 10px 10px; */
	margin-bottom: 0;
	padding: 20px 20px 35px 25px;
	margin-inline-start: 0px;

}
#reservation_detail .tel{
	margin-bottom: 15px;
}
#reservation_detail .tel a{
	font-size: 40px;
	font-weight: 900;
	line-height: 1.35;
	color: #e60019;
	position: relative;
	padding-left: 44px;
}
#reservation_detail .tel a::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	max-width: 34px;
	width: 100%;
	height: 42px;
	background-image: url(/factorytour/img/tel_icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#reservation_detail > dl > dd dl{
	margin-bottom: 28px;
}
#reservation_detail > dl > dd p{
	font-size: 16px;
	line-height: 1.56;
}
#reservation_detail > dl > dd dt p{
	padding-left: 10px;
}
#reservation_detail > dl > dd p.red{
	color: #e60019;
}
#reservation_detail > dl > dd p.red:not(.small){
	padding-left: 5px;
	margin-bottom: 5px;
}
#reservation_detail > dl > dd p.small{
	font-size: 14px;
	line-height: 1.78;
}
@media screen and (max-width:768px) {
	#reservation_detail_wrap{
		padding-top: 43px;
	}
	#reservation_detail{
		padding: 0 0 40px;
		margin-bottom: 50px;
	}
	#reservation_detail > dl{
		border-radius: 5px;
		border: 4px solid #86c2e6;
	}
	#reservation_detail > dl > dt p{
		font-size: 20px;
		line-height: 1.5;
		padding: 7px 0;
	}
	#reservation_detail > dl > dd {
		padding: 15px 19px 18px 25px;
	}
	#reservation_detail .tel {
		margin-bottom: 10px;
	}
	#reservation_detail .tel a{
		font-size: 37px;
		line-height: 1.3;
		padding-left: 38px;
	}
	#reservation_detail .tel a::before{
		bottom: -6px;
		max-width: 30px;
		height: 28px;
	}

	#reservation_detail > dl > dd p{
		font-size: 12px;
	}
	#reservation_detail > dl > dd p.red{
		font-size: 10px;
	}
	#reservation_detail > dl > dd dl {
		margin-bottom: 20px;
	}
	#reservation_detail > dl > dd dt p{
		padding-left: 0;
	}
	#reservation_detail > dl > dd p.red:not(.small){
		padding-left: 0;
	}
}
@media screen and (max-width:330px) {
	#reservation_detail .tel a{
		font-size: 30px;
	}
}
/*----------------------
 access
----------------------*/
#access{
	color: #111;
}
#access .map {
	margin-top: 32px;
}
#access .mapField {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
#access .gmap{
	height: 400px;
}
#access dl {
	margin-top: 13px;
}
#access dt {
	font-size: 16px;
	line-height: 1.56;
	margin-bottom: 10px;
}
#access dd {
	font-size: 14px;
	color: #e60019;
	line-height: 1.78;
}
#facrotyBannerArea {
	padding: 60px 0 0 0;
}
@media screen and (max-width:768px) {
	#access .map {
		margin-top: 0;
	}
	#access .gmap{
		height: auto;
		padding: 29% 0;
	}
	#access dl {
		margin-top: 7px;
		padding: 0;
	}
	#access dt {
		font-size: 12px;
		line-height: 1.66;
		margin-bottom: 5px;
	}
	#access dd {
		font-size: 10px;
		line-height: 1.71;
	}
	#facrotyBannerArea {
		padding: 52px 0 0 0;
	}
}
@media screen and (max-width:350px) {
	#access dd {
		font-size: 10px;
	}

}